PORT=4002
DATABASE_URL=postgresql://circulation_user:circulation_pass@circulation-db:5432/circulation_db?schema=public
JWT_ACC_SECRECT=replace-with-real-secret
CATALOG_SERVICE_URL=http://catalog:4001
INTERNAL_SERVICE_SECRET=replace-with-a-long-random-string